:root {
    --primary-color: #5f5ff5;
    --text-color: #dbdbdb;
    --background-color: #202020;
    --element-color: #131313;
}

body, html {
    margin: 0px;
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: rgba(0,0,0,0);
    color: inherit;
    border-radius: 40px;
    border: none;
    padding: 7px;
}
button:active {
    opacity: 0.5;
}
button.primary {
    background-color: var(--primary-color);
}

a {
    color: var(--text-color); /*eadfcb*/
}



.navbar_cont {
    background-color: var(--element-color);
    height: 100vh;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
}
