:root {
    --primary-color: #5f5ff5;
}

body, html {
    margin: 0px;
    background-color: #131313;
    color: white;
}

button {
    background-color: rgba(0,0,0,0);
    color: inherit;
    border-radius: 40px;
    border: none;
    padding: 7px;
}
button.primary {
    background-color: var(--primary-color);
}
